body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

#myimage{
    background-image:url(Image.jpg) ;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#template{
    max-width: 450px;
    max-height: 300px;
    top: 10%;
    background-color:rgba(242, 236, 242 ,0.4) ;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    padding-top: 1px;
    position:fixed;
    
}


header h1{
    min-width: 120px;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    background-color: rgb(87, 137, 223);
    opacity: 0.7;
    padding: 1%;
    border-radius: 20px;
    border-top: 10px;
    margin-top: 10px;
}

label {
    display: center;
    padding: 10px;
    font-weight: bold;
    font-family: monospace;
    color: #000000;
    text-align: center;
    font-size: larger;
}

input{
    padding: 10px;
    margin-top: 5px;
    border: 0px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#CurrentAge {
    min-width: 350px;
    min-height: 15px;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: monospace;
    font-size: medium;
    color: #000000;
    box-shadow: 0px 4px 6px 0px rgb(109, 109, 111);
}

